
  /*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
  padding-top: 70px; 
  position: relative;
    height: 50vh;
}
.fade-carousel .carousel-inner .item {
    height: 50vh;
}
.fade-carousel .carousel-indicators > li {

  margin: 2px;
    background-color: #f33412;
    border-color: #48ff00;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {

  
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  /* padding-top: 150px; */
    position: absolute;
    top: 75%;
    left: 50%;
    z-index: 3;
    color: #141414;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(30, 30, 30, 0.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 4em;    
    font-weight: bold;
    margin: 20;
    padding: 20;
    color: #ffffff;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000000;
    opacity: .0;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg 
{padding: 10px 40px;

}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  
  color: #3b15f7;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
   
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4, 
.fade-carousel .slides .slide-5 {

  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(/trademaq/images/slider/slide2.jpg)
}
.fade-carousel .slides .slide-2 {
  background-image: url(/trademaq/images/slider/11.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(/trademaq/images/slider/slide4.jpg);
}
.fade-carousel .slides .slide-4 {
  background-image: url(/trademaq/images/slider/slide3.jpg);
}
.fade-carousel .slides .slide-5 {
  background-image: url(/trademaq/images/slider/slide5.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
